/* --2-- */
.tm-nav-item:hover {
    background: lightskyblue;
}

.tm-nav-item-link:hover {
    color: #fff;
}

/* --3-- */
.tm-banner {
    background: linear-gradient(burlywood, lightskyblue);
}

.tm-banner-inner {
    background: #ffffff;
}

/* --4-- */
.tm-banner-text {
    text-shadow: 1px 8px 2px #76cdd7;
    letter-spacing: 3px;
    word-spacing: 8px;
}

section .flex-2-col:nth-child(1) {
    display: flex;
}

/* --5-- */
section, .tm-main-nav, .tm-content-header {
    box-shadow: 1px 1px 8px 1px rgba(61, 55, 61, 0.7);
}

/* --6-- */
.tm-banner-text {
    animation: cast-rotate 1.5s ease-in-out infinite;
}

@keyframes cast-rotate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* --7-- */
.tm-team-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tm-team-description-container:nth-child(1) {
    order: 2;
}

.tm-team-description-container p {
    font-style: italic;
    line-height: 1.75em;
    text-indent: 1.5em;
}

h2 {
    text-align: center;
}

/* --8-- */
h2 {
    font-size: 28px;
    color: lightskyblue;
    font-weight: 300;
}

#about li:nth-child(odd):hover {
    background: #87cefa;
}

#about li:nth-child(odd):hover h2 {
    color: #ffffff;
}

/* --9-- */
section:before {
    content: "";
    border: 20px solid transparent;
    border-left: 20px solid lightskyblue;
    border-top: 20px solid lightskyblue;
}

.heading.tm-content-box ol {
    list-style-type: decimal-leading-zero;
}

/* --10-- */
.heading.tm-content-box a:hover:before {
    content: ">";
    color: red;
}

.heading.tm-content-box a:hover {
    color: red;
    font-weight: 600;
    padding-left: 2px;
    text-decoration: none;
    border-bottom: red 2px solid;
}

.heading.tm-content-box a.text:after {
    content: 'New';
    position: absolute;
    font-size: 10px;
    color: red;
    font-weight: 700;
}

/* --12-- */
.blocks .gallery-container .box {
    padding: 5px;
}

.box:nth-child(even) {
    background: lightskyblue;
}

.gallery-container .box-work:nth-child(even) h2 {
    color: white;
}

.gallery-container .box-work:nth-child(odd) h2 {
    color: black;
}

.gallery-container .box-work h2 {
    font-size: 25px;
    font-weight: 500;
    text-align: inherit;
}

.gallery-container .box p {
    font-size: 13px;
    font-style: italic;
}

.gallery-container .box p::first-letter {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.gallery-container .box:nth-child(even) p {
    color: white;
}

/* --13-- */
form input.form-control {
    border: 2px solid transparent;
    border-bottom: 2px solid lightskyblue;
}

form input.form-control[type='email'] {
    background: url(../img/email-icon.png) no-repeat calc(100% - 10px);
    background-size: 26px;
}

form input.form-control[type='email']:focus {
    background-color: #76cdd7;
}

form .form-control:focus::placeholder {
    color: #ffffff;
}

form .form-control:focus {
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background-color: #76cdd7;
    color: #ffffff;
}

form {
    text-align: right;
}

form .btn-primary:hover {
    border: 2px solid lightskyblue;
    background: #76cdd7;
    color: #ffffff;
}

form .btn-primary {
    border: 2px solid lightskyblue;
    background: transparent;
    color: lightskyblue;
    font-size: 14px;
    padding: 10px 40px;
}

form textarea.form-control {
    border: 2px solid lightskyblue;
    resize: none;
}

@media print {
    #contact,
    #about, .tm-main-nav,
    .tm-team-img,
    .carousel-indicators, .gallery-container,
    #ideas, .tm-footer, .text-xs-center,
    .img-contact-us {
        display: none;
    }

    section:before {
        content: "";
        display: none;
    }

    .heading.tm-content-box a.text:after {
        content: '';
        display: none;
    }

    .tm-team-description-container, .tm-content-box {
        max-width: none;
        width: 90%;
        align-items: center;
        margin: 0 auto;
    }

    p, ol a {
        font-size: 18px;
        text-align: center;
    }

    .tm-banner-text {
        font-size: 20px;
    }

    .tm-banner-inner img {
        width: 100px;
    }

    .tm-main-content, .tm-banner, .padding-medium, .carousel {
        padding: 0 0 10px 0;
    }

    .tm-content-header {
        margin-bottom: 20px;
    }

    ol {
        list-style-type: none;
        padding: 1px;
    }

    ol a {
        color: blue;
    }

    ol li {
        text-align: center;
    }

    ol li:nth-child(odd) {
        padding-right: 150px;
    }

    ol li:nth-child(even) {
        padding-left: 150px;
    }
}
